* {
    margin: 0;/*метод овечает за внешний отступ объекта.
                мы его обнулили для всех*/
    padding: 0;/*метод отвечает за внутренний отступ объекта
                            мы его обнулили для всехобъектов*/
}

body {
   background-color:#3cc919;/*задаёт цвет заднему фону страницы*/

}

p{
    border:5px solid;/*создал рамку задал толщину*/
    border-radius:20px ;/*сделал закругление*/
    border-color:#2c0e9a;/*увеличил ширину рамки*/
    font-size: 28px;/*увеличили размер*/
    margin: 100px;/*внешний отступ*/
    padding: 50px;/*внутренний отступ*/
    background-color: #4d117298;/*задаёт цвет заднему фону*/
    color: #00df4a;/*задаёт цвет текста*/
    text-align:center;/*задаёт ориентацию текста*/
}
h1{
    border:5px solid;/*создал рамку задал толщину*/
    border-radius:20px ;/*сделал закругление*/
    border-color:#0dc413;/*увеличил ширину рамки*/
    font-size: 40px;/*увеличили размер*/
    margin: 100px;/*внешний отступ*/
    padding: 50px;/*внутренний отступ*/
    background-color: #1ab00d98;/*задаёт цвет заднему фону*/
    color: #0a648e;/*задаёт цвет текста*/
    text-align:center;/*задаёт ориентацию текста*/
}

p:hover{
 scale: 1.1;
}
